.container {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-template-rows: repeat(10, 1fr); 
    width: 100vw;
    height: 100vw;
}

.zwart {
    background-color: black;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wit {
    background-color: white;
    width: 100%; 
    height: 100%; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@media (max-height: 100vh) and (min-width: 100vw) {
    .container {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        width: 100vh;
        height: 100vh;
    }
}