@{
    ViewData["Title"] = "Home Page";
    
}
<h1>@ViewBag.ErrorMessage</h1>
<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/Wessel.jpg">
        <h1 class="person-name">Wessel Diks</h1>

    </section>

    <section class="profile">

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Als student van Windesheim ICT en developer van verschilende apps ben ik erg enthousiast over alles wat te maken heeft met computers en programeren.
                <p>
            </div>


            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Midelbare School (Havo)</h4>
                    <p class="profile-content__period">2018 - 2023</p>
                </div>
                <p class="profile-content__institute">RSG, Epe</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Hogeschool (HBO)</h4>
                    <p class="profile-content__period">2023 - huidig</p>
                </div>
                <p class="profile-content__institute">Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Werkervaring</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Krantenwij</h4>
                    <p class="profile-content__period">2020 - 2021</p>
                </div>
                <p class="profile-content__institute">Epe</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Afwasser</h4>
                    <p class="profile-content__period">2021 - 2023</p>
                </div>
                <p class="profile-content__institute">Het Wapen Grill and Chill, Epe</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HulpChef</h4>
                    <p class="profile-content__period">2023 - huidig</p>
                </div>
                <p class="profile-content__institute">Het Wapen Grill and Chill, Epe</p>
            </div>

        </section>

    </section>
</div>
