@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Wessel Diks s1194967 Contact showcase</h1>
    <p>Dit is een webaplication om mij te kunnen contacteeren, als je dit wil druk dan op contact en vul het formulier in</p>
</div>
